*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family:Arial, Helvetica, sans-serif;

    background-color: white;
}
/* NAv bar css */
.hover:hover{
    font-size: 20px;
}

    
.nav {
    height: 15vh;
    width: 100vw;
    color: aliceblue;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navcontact{
color: rgb(242, 240, 255);
font-size: large;
}
.navmenu a{
    font-size: larger;
    padding: 0px 15px 0px 15px;
      
}
.navmenu a{
    color: rgb(255, 255, 255);
    justify-content: space-around;
}
/* PHOTO and about me css */
.main{
    display: flex;
}
.image img{
    border: 2px solid orange ;
    width:30vw;
    height: 50vh;
    border-radius: 45px;
    margin-top: 10px;
}
.image img:hover{
    visibility: 70%;
}
.aboutme{
    font-weight: bolder;
    color: rgba(136, 117, 89, 0.841);
    display: flex;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 20px 20px 20px
}
.aboutme h1{
    display: flex;
    justify-content: center;
}
.aboutme p{
  display: flex;
  justify-content: center;
  text-align: justify;
}
/* SKILLS SECTION CSS */
.skills
{
  display: flex;
justify-content: space-around;
margin-top: 20px;
}
.box1 , .box2, .box3 , .box4 , .box5 , .box6
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 25px;
    height: 25vh;
    width: 20vw;
    border: outset burlywood 8px;
    border-radius: 30px;
}
.box1 img , .box2 img ,.box3 img , .box4 img , .box5 img , .box6 img
{
    height: 70px;
}

/* PROJECT SECTION */
.projects
{
    margin: 0px 0px 0px 10px;
}


/* 
RESPONSIVE WEBSITE CODE USING MEDIA QUERY */
@media only screen and (max-width:800px)
    {
        .nav{
            background-color: #232F3E;
        }
     body{
        background-color :rgb(255, 255, 255);
     }
     .navcontact{
        font-size: small;
     }
    .image img{
        align-items: center;
        justify-content: center;
        margin-left:33vw;
        border-radius: 10PX;
        width: 200PX;
    }
    .image img:hover{
        opacity: 50%;
    }
    .aboutme{
        font-size: small;
    }
    .aboutme h1{
        display: flex;
        justify-content: center;
    }
    .aboutme p{
      display: flex;
      justify-content: center;
      text-align: justify;
    }
    .main{
        flex-direction: column;
    }
    .navmenu{
        font-size: smaller;
        display: flex;
        flex-direction: column;
    }
    .box1 , .box2, .box3 , .box4 , .box5 , .box6
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 25px;
    height: 25vh;
    width: 20vw;
    border: outset burlywood 8px;
    border-radius: 30px;
    background-color: wheat;
}
    .box1 img , .box2 img ,.box3 img , .box4 img , .box5 img , .box6 img
    {
        height: 40px;
       
    }
 
    
}
    